* {
    color: #f7f7f7;
    background-color: #292b2c;
}

.container { /*removing bootstrap defaults*/
    margin: 0px !important;
  }

#classtabs .fightertext.active {
    background-color: #a1887f;

}

.fightertext {
    color: #f7f7f7;
    background-color: #795548;
}