* {
    color: #f7f7f7;
    background-color: #292b2c;
    font-size: 14px;
}

b { /* used in tooltips, the bold tag*/
    background-color: #000000;
}

hr {
    border-color: #4B515D;
}

button {
    margin: 2px;
}

.container { /*removing bootstrap defaults*/
    margin: 0px !important;
}

.progress.health {
    height: 5px;
    width: 150px;
    background-color: #d9534f;
}

.progress.experience {
    height: 2px;
    width: 150px;
}

.progress-bar.health {
    height: 5px;
    background-color: #5cb85c;
}

.progress-bar.experience {
    height: 2px;
    background-color: #f0ad4e;
}

.tab-pane {
    padding: 10px;
}

.tickerv-wrap {
    box-sizing: content-box;
    height: 100px;
    overflow-y: scroll;
    padding: 10px;
} 

.tickerv-wrap ul {
    padding:0;
    margin:0;
    list-style-type: none;
}

.tickerv-wrap ul li {
    font-size:12px;
    line-height: 26px
}

#charactertabs .character0text.active {
    background-color: #a1887f;
}

.character0text {
    color: #f7f7f7;
    background-color: #795548;
}

#charactertabs .newcharactertext.active {
    background-color: #aed581;
}

.newcharactertext {
    color: #f7f7f7;
    background-color: #8bc34a;
}